doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/webtree.css', rel='stylesheet')
    title='Webtree Soluções Corporativas'
  body
    img(src='/img/logo.png')
    a(href='mailto:fabioseno@gmail.com', class='contact') fabioseno@gmail.com
    script.
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    script.   
        try {
            var pageTracker = _gat._getTracker("UA-9282749-1");
            pageTracker._trackPageview();
        } catch(err) {}