doctype html
html(lang="en")
  head
    link(href='/css/webtree.css', rel='stylesheet')
    title='Webtree Soluções Corporativas'
  body
    img(src='/img/logo.jpg')
    a(href='mailto:fabioseno@gmail.com', class='contact') fabioseno@gmail.com