body {
    background-color: #4C4C4C;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
}

a.contact {
    display: block;
    margin-top: 40px;
    color: #B3D119;
    font-weight: bold;
    text-decoration: none;
}

a.contact:hover {
    text-decoration: none;
}