html {
    -webkit-text-size-adjust: none;
}

body {
    background-color: #4C4C4C;
    text-align: center;
    font-family: serif;
    font-size: 16px;
    margin-top: 40px;
}

a.contact {
    display: block;
    margin-top: 15px;
    color: #b4d11c;
    font-weight: bold;
    text-decoration: none;
}

a.contact:hover {
    text-decoration: none;
}